@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
body {
  background-color: #333333;
  color: white;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

#mainwrap {
  transform: translateY(0);
  transition: 0.5s;
  z-index: 5;
}

#mainwrap, #menuwrap, #quizcol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

@media (max-width: 768px) {
  #p-2, #p-3 {
    display: none;
  }
}
#mainhead {
  font-size: 3.5em;
  opacity: 0;
  transition: 1.5s;
  transform: translateY(-10px);
}

#mainbutton {
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #7bafd4;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(-10px);
}
#mainbutton:hover {
  transform: translateY(-5px) !important;
  background-color: #5598c7;
}
#mainbutton:active {
  transform: translateY(-5px) !important;
  background-color: #3a7faf;
}

#quizcol {
  z-index: 2;
  transition: 1s;
}

#quizwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-size: 1.2em;
  opacity: 0;
  transition: 1s;
  z-index: 2;
}

#question {
  opacity: 0;
  transition: 1s;
  font-size: 2.5em;
}

#input {
  border: none;
  width: 20em;
  background-color: inherit;
  border-bottom: 1px solid white;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  font-family: inherit;
  outline: none;
}

@media (max-width: 768px) {
  #input {
    width: 15em;
    font-size: 1em;
  }
}
#input::-moz-placeholder {
  color: currentColor;
  opacity: 0.3;
}
#input::placeholder {
  color: currentColor;
  opacity: 0.3;
}

#q-button {
  margin-top: 1.7rem;
  border: none;
  padding: 15px 25px;
  border-radius: 15px;
  background-color: #7bafd4;
  color: inherit;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}
#q-button:hover {
  background-color: #5598c7;
  transform: translateY(-5px);
}
#q-button:active {
  background-color: #3a7faf;
  transform: translateY(-5px);
}

#status {
  opacity: 0;
  transition: 1s;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 1.5em;
}

#menuwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(-1500);
  opacity: 0;
  z-index: 4;
  transition: 1s;
}

#infomenu {
  border: 10px solid #7bafd4;
  padding: 25px 60px;
  border-radius: 15px;
  background-color: #595959;
}

@media (max-width: 1200px) {
  #infomenu {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (max-width: 550px) {
  #mainbutton {
    padding: 15px 25px;
  }
  #gameendbox {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media (max-width: 768px) {
  #mainhead {
    font-size: 2em;
  }
  #question {
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.5em;
  }
}
#weight1 {
  font-weight: bold;
  font-size: 1.2rem;
}

#realstart {
  border: none;
  padding: 15px 35px;
  background-color: #5598c7;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transform: translateY(-10px);
  transition: 0.3s;
  opacity: 0;
}
#realstart:hover {
  transform: translateY(-5px) !important;
  background-color: #3a7faf;
}
#realstart:active {
  transform: translateY(-5px) !important;
  background-color: #2d6389;
}

#pagination {
  text-align: center;
  width: 100%;
}
#pagination div {
  transition: 0.5s;
  display: inline-block;
  width: 2.5rem;
  line-height: 2rem;
  height: 2rem;
  padding: 2px;
  text-align: center;
  border-radius: 20px;
}
#pagination div.active {
  background-color: #7bafd4;
}

#gameend {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  transition: 1s;
  transform: translateX(0);
  opacity: 0;
}

#gameendbox {
  background-color: #595959;
  border: 10px solid #7bafd4;
  padding: 35px 70px;
  border-radius: 15px;
  transform: translateY(-10px);
  transition: 1s;
}
#gameendbox #endhead {
  padding: 0;
  font-size: 3em;
}
#gameendbox button {
  border: none;
  padding: 15px 25px;
  border-radius: 15px;
  background-color: #5598c7;
  color: inherit;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}
#gameendbox button:hover {
  background-color: #3a7faf;
  transform: translateY(-5px);
}
#gameendbox button:active {
  background-color: #2d6389;
  transform: translateY(-5px);
}
#gameendbox #end-b-1 {
  margin-bottom: 1em;
}
#gameendbox #p-1 {
  margin-bottom: 1.5em;
}
#gameendbox #p-2 {
  margin-bottom: 2em;
  font-weight: bold;
}/*# sourceMappingURL=citizen.css.map */